/* service */
.txt {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;


}

.service {
    width: 100%;
    overflow: hidden;

}

.service h2 {
    font-size: 25px;
    color: #E33954;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.service_para {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.service_heading {
    text-align: center;
}



.service_container {
    padding: 60px 0px;
}

.service.s-1.h3 {
    font-size: 20px;
}

.main {
    width: 10%;
    height: 10%;
   
}


.skill :hover {
    background-color: #161922;
    color: #000;
    }


.s-1 {
    background-color: #3B2B68;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.skill {
    margin: 10px 0px;
}




--------------------------------------------------------------*/
.contact .map {
  margin-bottom: 40px;
}

.contact .map iframe {
  border: 0;
  width: 100%;
  height: 400px;
}

.contact .info {
  padding: 40px;
  overflow: hidden;
}

.contact .info h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.contact .info p {
  color: #fff;
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .info-item+.info-item {
  padding-top: 20px;
  margin-top: 20px;
  color: #fff;
}

.contact .info-item i {
  font-size: 24px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  color: #fff;
  text-align: center;
  padding: 15px;
}







.contact .php-email-form textarea {
  padding: 10px 12px;
  height: 250px;
}










